.App {
  margin: 1% 10%;
  text-align: center;
}

.search-bar {
  margin: 1% 10% 0 10%;
  width: 50%;
  color: black;
  background-color: rgb(248, 242, 242);
}

.limit {
  margin: 2%;
  width: 10%;
}
.row {
  margin: 0 10rem;
}

.gif {
  margin: 5px;
  border: black solid;
}
